<footer class="footer">
    <div class="container">
        <ul class="list-inline mb-0 text-center">
            <li class="list-inline-item">
                <a href=""><span class="fa fa-twitter"></span></a>
            </li>

            <li class="list-inline-item">
                <a href=""><span class="fa fa-google-plus"></span></a>
            </li>

            <li class="list-inline-item">
                <a href=""><span class="fa fa-instagram"></span></a>
            </li>

            <li class="list-inline-item">
                <a href=""><span class="fa fa-envelope-o"></span></a>
            </li>
        </ul>
        <span class="text-muted">M. Shewangzaw : : : CS425-SWE</span><span style="float:right;" class="text-muted">&copy; June 2020</span>
    </div>
</footer>